<!DOCTYPE html>
<html>
<head>
<title><%=pageTitle%></title>
<style>
div.background {
  background: url("../images/mill.jpg");
  border: 2px solid black;
  position:absolute;
  height: 275px;
  left: 0px;
  top: 0px;
  width:100%
}
img {
  
  width:610px;
  height:300px;
  left: 45px;
 
}
div.transbox {
  margin: 0px;
  background-color: black;
  border: 1px solid black;
  opacity: 0.8;
  height: 275px;
  
} 
div.transbox1 {
  margin: 25px;
  background-color: white;
  border: 1px solid white;
  margin-left: auto;
  opacity: 0.9;
  height: 100px;
  position:absolute;
  width:100%;
} 
.heading{
  font-family: Georgia, serif;
  font-size: 35px;
  letter-spacing: 2px;
  color: black;
  text-align: center;
}
.heading1{
  font-family: Georgia, serif;
  font-size: 25px;
  font-style: bold;
  letter-spacing: 2px;
  color: black;
  text-align: center;
}
</style>
</head>
<body>
<div class="background">
<div class="transbox">
<div class="transbox1">
<div class="heading">Srinivasan Textile<br><div class="heading1">(Yarn & clothes)</div></div>

</div></div></div>
<br><br><br><br><br><br><br>br><br><br><br><br><br><br><br><br><br><br>
<table>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>
<a href="/customer/yarn"><img src="../images/yarn.jpg"></a>
</td>
<td>
<div class="heading">YARN</div>
<br>
    With over four decades of expertise,  Srinivasan p roduces and supplies superior quality sustainable yarns to many popular international brands. While adding genuine value to the yarns we produce, our commitment to the environment-friendly measures is never compromised.

    We produce quality Yarns in a comprehensive range and counts like Compact yarn, Combed yarn, Carded yarn, Melange yarn, Polyester Cotton, Viscose Yarn and Grindel Yarns.
    We are specialized in more unique and special yarn ranges:
    Colour Melange, Slub Yarn, Injection Slub (Cotton, Poly Cotton & Melange) BCI, Organic, CMIA and REEL yarn.
</td></tr> 
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
<td>
<div class="heading">FABRIC</div>
<br>
Our key fabric products include the entire range of single jersey (also with lycra/spandex), interlock, rib, 2 and 3 thread fleece, pique polo, flat bed collar are key products. We produce knitted cotton fabric ranging in counts from 16s to 40s with the gauge of 24 and 28.

Fabric Manufacturing capacity:
40000 MT of fabrics per annum
</td><td>
  <a href="/customer/fabric"><img src="../images/fabric.jpg">
</td>
</td><td></td><td></td><td></td><td></td><td></td><td></td>
</tr><tr></tr><tr></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>
<a href="/customer/garments"><img src="../images/garments.jpg">
    </td>
    <td>
    <div class="heading">GARMENTS</div>
    <br>
        With over four decades of expertise,  Srinivasan p roduces and supplies superior quality sustainable yarns to many popular international brands. While adding genuine value to the yarns we produce, our commitment to the environment-friendly measures is never compromised.
    
        We produce quality Yarns in a comprehensive range and counts like Compact yarn, Combed yarn, Carded yarn, Melange yarn, Polyester Cotton, Viscose Yarn and Grindel Yarns.
        We are specialized in more unique and special yarn ranges:
        Colour Melange, Slub Yarn, Injection Slub (Cotton, Poly Cotton & Melange) BCI, Organic, CMIA and REEL yarn.
    </td></tr> 
</table>
</body>
</html>